<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<table>
        <% abilities.forEach(function(ability){ %>
        <tr>
            <td><%= ability.ability.name %></td>
        </tr>
        <% }); %>

</table>

</body>
</html>
